[submodule "dependencies/agora-cl"]
	path = dependencies/agora-cl
	url = https://github.com/bosagora/agora-cl/
[submodule "dependencies/agora-el"]
	path = dependencies/agora-el
	url = https://github.com/bosagora/agora-el/
