[submodule "dependencies/agora-el"]
	path = dependencies/go-ethereum
	url = https://github.com/bosagora/agora-el.git
[submodule "dependencies/agora-cl"]
	path = dependencies/prysm
	url = https://github.com/bosagora/agora-cl.git
